.keys{
    background-color: #d6c2c4bf ;
    color: #2f3c7e;
    border:1px solid #2f3c7e;
}

.keys:not([disabled]):hover{
    background-color: rgba(79, 99, 200, 0.842);
    color: white;
    transform: scale(1.1) !important;
}

.keys[disabled]{
    cursor:no-drop !important;
    pointer-events: all !important;
}